* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

.grid-container {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 30px;
    grid-gap: 5px;
  }

  img {
    object-fit: cover;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin: auto;
  }



